* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.parent {
  height: 100vh;
  border: 10px solid rgb(0, 0, 0);
  display: flex;
  box-flex: 1;
  flex-wrap: wrap;
  align-content: space-around;
  color: white;
  /* flex-flow: column wrap; = flex-wrap + flex-direction */
  /* justify-content: space-around;
  flex-direction: column;
  align-items: center; */
}

.child1 {
  width: 200px;
  height: 200px;
  background: rgb(39, 61, 134);
  order: 0;
  flex-grow: 2;
  flex-basis: 200px;
  flex-shrink: initial;
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(170, 52, 15);
  order: 1;
  flex-grow: 1;
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(149, 43, 140);
  order: 2;
}